{% extends "base.html" %}
{% block cuerpo %}
<div class="navbar-left">
                    <a class="navbar-brand" href="{% url 'Facturas:usuario' %}">
                        <span class="glyphicon glyphicon-user"></span> Perfil
                    </a>                                                              
                </div> 
<div class="row">
    <div class="col-lg-12">
            <div class="panel panel-info">
            <div class="panel-heading">
                Facturas
            </div>
            <div class="panel-body">
                <div class='form-group'>
                    <div class="row">                 
                        <div class="col-lg-3">    
                                                                                 
                        </div>
                        <div class="col-lg-8">
                             
                        </div>                          
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table id="tabla" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="text-center">FECHA</th>
                                    <th class="text-center">USUARIO</th>
                                    <th class="text-center">TIPO</th>
                                    <th class="text-center">SECUENCIA</th>
                                    <th class="text-center">TOTAL</th>
                                    <th class="text-center">NÚMERO</th>                                 
                                </tr>
                            </thead>
                            <tbody>
                            {% for factura in facturas %}
                                <tr>
                                    <td>{{ factura.fecha }}</td>
                                    <td>{{ factura.usuario }}</td>
                                    <td>{{ factura.tipo }}</td>
                                    <td>{{ factura.secuencia }}</td>
                                    <td>{{ factura.total }}</td>
                                    <td>{{ factura.numero }}</td>                                                                     
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock cuerpo %}
{% block js %}
<script>
$(document).ready(function() 
{   
    var table = $('#tabla').DataTable( {
        "language": {
            url: "/static/localizacion/es_ES.json"
        }
    } );
  
    $('#tabla tbody').on( 'click', 'tr', function() 
    {
        if ($(this).hasClass('selected') ) 
        {           
            $(this).removeClass('selected');
             
        }
        else 
        {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');                      
        }
    });   
     
});
</script>
{% endblock js %}
