{% extends "base.html" %}
{% block cuerpo %}
<script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2012",
      // You can put more options here.

    });
  });
  </script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    $('.datepicker').datepicker();
});
</script>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
		<a class="navbar-brand navbar-left" href="{% url 'Facturas:facturas' %}">
                        <span></span> FactAll
                    </a>  
<a class="navbar-brand navbar-right" href="{% url 'seguridad:salir' %}">
                        <span class="glyphicon glyphicon-log-out"></span> Salir
                    </a>   
                    <a class="navbar-brand navbar-right" href="{% url 'Facturas:facturas' %}">
                        <span class="glyphicon glyphicon-user"></span> Atras
                    </a>                                                               
	</div>	                                                    
    </nav>                      

<div class="col-lg-12">
            <div class="panel panel-info">
            <div class="panel-heading">
                Factura
            </div>
<div class="text-center" >
            {% if mjsexitoso %}
                {{mjsexitoso|capfirst}}
            {% endif %}
        </div>
            <div class="panel-body">
        <form method="post" class="factura-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Guardar</button>
        </form>
</div>
</div>
</div>
</div>
{% endblock cuerpo %}